<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>Events</h1>

<a href="{{url_for('createEvent')}}" > <h3> Create Event </h3> </a>

{% for restaurant in restaurants %}



    <a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">
        <p>{{restaurant.name}}
            <br>
            {{restaurant.fee}}<br>
            {{restaurant.date}}
            {{restaurant.time}}<br>
            {{restaurant.location}}<br>
            {{restaurant.organisers}}<br>
            {{restaurant.description}}<br>
            {{restaurant.category}}
        </p>
    </a>

<p><a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>

<p> <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>




{% endfor %}

</div>
</body>

</html>
